<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.lte.bizservice.mapper.TableMapper">

    <select id="listTables" resultType="java.util.Map">
        select tablename
        from pg_tables
        where schemaname = #{schemaName}
          and tablename like 'tb%'
        order by tablename;
    </select>

    <select id="listTableColumns" resultType="java.util.Map">
        select col_description(a.attrelid, a.attnum) as comment,
               format_type(a.atttypid, a.atttypmod)  as type,
               a.attname                             as name,
               a.attnotnull                          as notnull
        from pg_class as c,
             pg_attribute as a
        where c.relname = #{tableName}
          and a.attrelid = c.oid
          and a.attnum > 0
    </select>

    <select id="listTableFile" resultType="java.lang.String">
        select *
        from pg_relation_filepath(#{tableName});
    </select>

    <select id="listTableSize" resultType="java.lang.String">
        select pg_size_pretty(pg_relation_size(#{tableName}));
    </select>

</mapper>
